* {
  font-family: "Poppins", sans-serif !important;
}
.MainHome{
  height: 100vh;
  background-color: #fff;
}
.backImg{
  background-image: url(./Images/page.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}